<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ product['topic'] }}</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <img src="{{ product['imageToys'] }}" class="img-fluid" alt="toys Image"> <!-- Resim -->
            </div>
            <div class="col-md-8">
                <h1 class="mt-5 mb-4">{{ product['topic'] }}</h1> <!-- Ürün adı -->
                <p>{{ product['priceToys'] }} TL</p> <!-- Fiyat -->
                <p>Available Colors: {{ product['colorToys'] }}</p>
                <ul>
                    {% for color_product in other_colors %}
                        <li><a href="/productdetails/{{ color_product['topic'] }}">{{ color_product['colorToys'] }}</a></li>
                    {% endfor %}
                </ul>
                <p>Description: {{ product['descriptionToys'] }}</p> <!-- Açıklama -->
            </div>
        </div>
    </div>
    <!-- Bootstrap JS ve Popper.js -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
